@import 'home/common';
@import 'home/settings';
@import 'home/alert_box';
@import 'home/contact_info';
@import 'home/modal_contact_info';
@import 'home/menu_bar';
@import 'home/welcome_slider';
@import 'home/choose_eduglobal';
@import 'home/pop_categories';
@import 'home/about_us';
@import 'home/our_courses';
@import 'home/parallax_banner';
@import 'home/upcoming_events';
@import 'home/register_now';
@import 'home/gallery';
@import 'home/our_teachers';
@import 'home/student_say';
@import 'home/our_blog';
@import 'home/our_client';
@import 'home/coaching_training';
@import 'home/footer_info';
@import 'home/privacy_policy';
@import 'home/back_to_top';