#about-us {

    padding: 100px 0;

    .content {
        padding: 50px;
        border-radius: 0 1000px 1000px 0;
        border: none;
        left: -50px;
        background-color: $text-color;
        box-shadow: 0 0 10px rgb(172, 170, 170);
        width: 720px;
        margin-top: 20px;
        height: 410px;

        p{
            color: $gray-color;
            margin: 20px 0px;
        }

        ul {
            list-style: none;
            padding: 0;

            li{
            display: inline-block;
            padding: 0;
            margin-right: 25px;

            &:nth-child(1) {
                color: $pink-color;
            }
            &:nth-child(2) {
                color: $light-green;
            }
            p{
                font-weight: bold;
                color: black;
            }

            }
        }
    }
    
    
    
    .vd-photo {
        width: 674px;
        height: 450px;
        overflow: hidden;
        position: relative;
        z-index: -10;


        &:before {
            content:'';
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            background-color: rgba(46, 45, 45, 0.411);

        }
        img{
            height: 100%;
            width: 100%;
        }
    
    }

    
}

