#alert {
    background-color: $pink-color;
        height: 50px;
        width: 100%;
        display: block;

    .alert-text {
        color: $text-color;
        
       

        p {
            font-weight: bold;
            line-height: 50px;
            text-align: center;

            
            span{
                text-decoration: underline;
                cursor: pointer;
            }

       
        }
              
                i{
                    margin-left: 10px;
                    font-size: 20px;
                    line-height: 35px;
                    color: $text-color-light;
                    
    
                    &:hover {
                        color: $text-color;
                        cursor: pointer;
    
                    }
                }
            
     

            
            
    }

    // span {
    //     text-decoration: underline;
    //     cursor: pointer;
    // }
        
        
    
}