#footer-info {
    padding: 100px 0;
    background-color: $contact-color;
    color: $text-color;
    font-family: $font-stack;
    font-size: 14px;

    ul {
        list-style: none;
        padding: 0;
    }

    
    h5 {
        margin: 8px 0 18px;
    }

    a {
        text-decoration: none;
        color: $text-color;

        &:hover {
            color: $yellow-color;
            transition: 0.4s;
        }
    }

    .ctc-info {
        img {
            margin-bottom: 15px;
        }

        li {
            margin-bottom: 10px;
        }
    }

    .useful-links {

        li{
            margin: 10px 0;
        }
        
    }

    .recent-posts {

        .item {
            // border: 1px solid white;
            position: relative;
            margin-bottom: 15px;

            .link {
                width: 190px;
                position: absolute;
                // border: 1px solid white;
                top: 0;
                left: 60px;
                padding: 0 10px;

                p{
                    margin-bottom: 0;
                    font-size: 12px;

                    &:first-child {
                        font-size: 13px;
                        margin-bottom: 5px;
                    }

                    &:last-child {
                        color: $gray-color;
                        font-weight: bold;
                    }
                }
            }
        }
    }

    .subscribe {

        li {
            display: inline-block;
            margin-right: 5px;
            height: 40px;
            width: 40px;
            border-radius: 5px;
            background-color: rgba(255,255,255,0.1);
            text-align: center;
            line-height: 42px;
        }

        form {
        
            position: relative;

        button {
            position: absolute;
            right: 2px;
            top: 2px;
        }

    }
    }
}