#gallery {
 padding: 100px 0;

 ul {
     list-style: none;
     padding: 0;
 
    
            li {

                padding: 0;
                display: inline-block;
                color: $text-color-dark;
                background-color: #eee;
                border-radius: 5px;
                padding: 7px 20px;
        

                &:hover {
                    background-color: $yellow-color;
                    color: $text-color;
                    transition: 0.7s;
                    cursor: pointer;
                }

                &.active{
                    background-color: $yellow-color;
                    color: $text-color;
                } 
            }

 
    }

    .photo-container {
        width: 1100px;
        display: inline-block;
        margin: 0 auto;
        box-sizing: border-box;
  
    .photo {
        box-sizing: border-box;
        float:left;
        padding: 10px;
        width: 33%;
        height: 240px;
        overflow: hidden;
        position: relative;
        transition: all 0.4s ease-in-out;

        &.hide {
            transform: scale(0);
            width: 0;
            padding: 0;
            transition: all 0.4s ease-in-out;
        }

        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
           
        
        }
        

        a{

            text-decoration: none;
            color: $text-color;
            text-align: center;

            .title-btn {
                width: 200px;
                height: 100px;
                position: absolute;
                left: 80px;
                top: 250px;
                transition: 0.7s;

                i{
                    top: 0;
                    left: 80px;
                }

                h5{
                    position: absolute;
                    left: 48px;
                    top: 72px;
                }

                
            }



        }
 
        &:hover {

            &:before {
                content:'';
                position: absolute;
                top: 10px;
                left: 10px;
                border-radius: 10px;
                height: 220px;
                width: 343px;
                background-color: rgba(0,0,0,0.60);
               
            }

            // &.title-btn {

            //     animation-name: button-slide-up;
            //     animation-duration: 1s;
                
            //     // transition: transform 0.5s ease-in;
            //     // transform: translateY(-170px);
            // }

        }
        
    }
}

}

// @keyframes button-slide-up {

//     from{transform: translateY(0px);}
//     to {transform: translateY(-170px);}
//     // from {transform: translateY(250px)}
//     // to {transform: translateY(-170px)}
// }