

#welcome-slider{
    width: 100%;
    padding: 0;
    margin: 0;


    .carousel{

   
    .carousel-item {
        width: 100%;
        position: relative;

        img {
            width: 100vw;
            height: 100vh;
            object-fit: cover;
        }

        //add overlay start
        &:before {
            content:'';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.349);
        }
        //add overlay end

        .carousel-caption {
            top: 35%;
            color: $text-color;

            h1 {
                font-weight: bold;
                font-size: 55px;
                margin-bottom: 18px;
            }

            p{
                font-size: 17px;
            }

            button {
                height: 50px;
                width: 150px;
                margin: 20px 5px 0;
                font-size: 18px;
            }

            .fadeIndown{
                animation-delay: 4s;
                animation-duration: 4s;
            }

            .fadeInUp{
                animation-delay: 1s;
                animation-duration: 3s;
            }
        }
    }

    a[class^=carousel-control] {

        i{
            height: 60px;
            width: 60px;
            line-height: 57px;
            font-size: 30px;
            border-radius: 100%;
            z-index: 2;
            background-color: rgba(0, 0, 0, 0.26);
        }
     
    }

}

}
