#about-home {

    width: 100%;
    height: 200px;
    padding: 80px 100px;
    background-image: url(../image/Page/about_bg.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    background-attachment: fixed;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.50);
    }

    
    h1, p {
        color: $text-color;

        a {
            text-decoration: none;
            color:$text-color;

            &:hover {
                color: $yellow-color;
                transition: 0.4s;
            }
        }
    }

    
}