#statistic {

    width: 100%;
    padding: 100px 300px;
    position: relative;
    background-color: $bg-gray;


    .item {
        width: 200px;
        height: 200px;
        margin: 0;
        padding: 0;
        justify-content: center;
        text-align: center;
        color: $text-color-dark;

        img {
            margin: 25px 0 20px;
        }
    }

    
}